FRONTEND_PORT=5173
VITE_API_URL=http://backend:8000
APP_ENV=development
BACKEND_PORT=8000
POSTGRES_DB=championsclub
POSTGRES_USER=championsclub
POSTGRES_PASSWORD=championsclub_dev_password
POSTGRES_PORT=5432
